<h4 class="text-center">Register to chat!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input #inputEmail formControlName="email" class="form-control" placeholder="email" autofocus>
        <ap-vmessage 
            *ngIf="signupForm.get('email').errors?.required"
            text="Email is required!">
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('email').errors?.email"
            text="Invalid e-mail">
        </ap-vmessage>    
        
        <ap-vmessage 
            text="Email already taken" 
            *ngIf="signupForm.get('email').errors?.useEmailTaken">
        </ap-vmessage> 
        <small *ngIf="signupForm.get('email').valid" class="text-success">User available</small>        
    </div>

    <div class="form-group">
        <input formControlName="name" class="form-control" placeholder="user name">
        <ap-vmessage 
            *ngIf="signupForm.get('name').errors?.required"
            text="User name is required!">
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('name').errors?.minlength"
            text="Mininum length is 2">
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('name').errors?.maxlength"
            text="Maximun length is 30">
        </ap-vmessage>

    </div>

    <div class="form-group">
        <input formControlName="password" type="password" class="form-control" placeholder="password">
        <ap-vmessage 
            *ngIf="signupForm.get('password').errors?.required"
            text="Password is required!">
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('password').errors?.minlength"
            text="Mininum length is 8">
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('password').errors?.maxlength"
            text="Maximun length is 18">
        </ap-vmessage>
    </div>

    <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">Register</button>

    <p>Already a user?<a [routerLink]="['']">Sign In!</a></p>

</form>