<div class="container d-flex justify-content-center">

  <div class="mt-1 col-md-6 col-lg-4">

    <div class="d-flex mb-4">
      <h3 class="text-left">
        Delete Room
        <a href="#" class="badge badge-primary ml-2" [routerLink]="['/rooms','user']">Go back</a>
      </h3>
    </div>

    <div class="d-flex mb-4">
      <h5 class="text-left" *ngIf="room">
        Are you sure you want to delete the {{room.name}} room?
      </h5>
    </div>

    <button class="btn btn-primary btn-block" (click)="deleteRoom()">
      <i class="fa fa-trash ml-2" aria-hidden="true"></i>
      Delete
    </button>
  </div>


</div>
