<div class="container d-flex justify-content-center">

  <form [formGroup]="roomCreateForm" class="form mt-1 col-md-6 col-lg-4" (submit)="saveRoom()">

    <div class="d-flex mb-4">
      <h3 class="text-left">
        {{title}}
        <a href="#" class="badge badge-primary ml-2" [routerLink]="['/rooms','user']">Go back</a>
      </h3>
    </div>

    <div class="form-group">
      <input #nameInput formControlName="name" class="form-control" placeholder="Room name" autofocus>
      <ap-vmessage *ngIf="roomCreateForm.get('name').errors?.required" text="Room name is required!">
      </ap-vmessage>
    </div>


    <div class="form-group">
      <label class="container">
        <input type="checkbox" formControlName="isPublic" data-md-icheck (change)="toggleVisibility($event)" />
        Room is <span *ngIf="marked">public (uncheck to change private)</span><span *ngIf="!marked">private (check to
          change public)</span>
      </label>
    </div>

    <button [disabled]="roomCreateForm.invalid" type="submit" class="btn btn-primary btn-block">
      <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>
      Save Room
    </button>

  </form>

</div>
