<div class="container">

  <div class="d-flex mb-4 ">
      <h3 class="text-left">
        {{userName}} Rooms 
        <a href="#" class="badge badge-primary ml-2" [routerLink]="['/room','create']"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Create Room</a>
      </h3>
  </div>

  <div *ngIf="!rooms.length">
      <h5>You have not created any rooms yet</h5>
  </div>
  <app-room-list *ngIf="rooms.length" showMenu="true" [rooms]="rooms"></app-room-list>
  
</div>
