<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>

        <button *ngIf="!user.room_allowed_user_id || user.room_id != roomId" 
        type="button" class="btn btn-primary" (click)="invite(user)">
          <i class="fa fa-plus mr-2" aria-hidden="true"></i>
          Send Invite
        </button>

        <button *ngIf="user.room_allowed_user_id && user.room_id == roomId" 
        type="button" class="btn btn-primary" (click)="removeInvite(user)">
        <i class="fa fa-minus mr-2" aria-hidden="true"></i>
          Remove Invite
        </button>
      </td>
    </tr>
  </tbody>
</table>
