<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">id</th>-->
      <th scope="col">Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms">
      <!-- <th scope="row">{{room.room_id}}</th>-->
      <td>{{room.room_name}}</td>
      <td>{{room.user_name}}</td>
      <td>{{room.is_public | isPublicRoom }}</td>
      <td *ngIf="!showMenu">
        <button type="button" class="btn btn-primary" [routerLink]="['/chat',room.room_id,room.room_name]"><i class="fa fa-arrow-up mr-2" aria-hidden="true"></i>Enter</button>
      </td>
      <td *ngIf="showMenu">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/chat',room.room_id,room.room_name]"><i class="fa fa-arrow-up mr-2" aria-hidden="true"></i>Enter</a>
            <a class="dropdown-item" [routerLink]="['/room','invite',room.room_id,room.room_name]"  *ngIf="!room.is_public "><i class="fa fa-hand-o-up mr-2" aria-hidden="true"></i>Invite users</a>
            <a class="dropdown-item" [routerLink]="['/room','update',room.room_id]"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>Update</a>
            <a class="dropdown-item" [routerLink]="['/room','delete',room.room_id]"><i class="fa fa-trash mr-2" aria-hidden="true"></i>Delete</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
