<div class="container">
    <div class="row">
        <div class="col-md-6 mb-2 mt-4 ">
            <img class="img-fluid d-none d-sm-block"
                src="/assets/img/home.png" alt="Welcome">
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>