<div class="container d-flex flex-column  justify-content-center">

  <div class="d-flex mb-4 col-md-6">
    <h3 class="text-left">
      Room {{roomName}} user invite
      <a href="#" class="badge badge-primary ml-2" [routerLink]="['/rooms','user']">Go back</a>
    </h3>
  </div>

  <div  class="form mt-1 col-md-6 col-lg-4">

    <div class="form-group">
      <div class="d-flex">
          <input (keyup)="(userFilter = $event.target.value)" 
          class="form-control" placeholder="User name" autofocus>
      </div>
    </div>
  </div>

  <app-room-user-list-with-status [users]="users | filterRoomUserWithStatusByName : userFilter"></app-room-user-list-with-status>


</div>
