
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h3>Peaples</h3>
        <ul class="nav flex-column">
          <li class="nav-item shadow-lg mb-2 pt-1 pl-1 pb-1 bg-white border border-primary  rounded" *ngFor="let user of chatUsers">
            {{user.name}}
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Chat: {{roomName}} Room</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a [routerLink]="['/rooms']" class="btn btn-sm btn-outline-secondary" >Public Rooms</a>
          </div>
          <div class="btn-group mr-2">
              <a [routerLink]="['/rooms','user']" class="btn btn-sm btn-outline-secondary" >My Rooms</a>
          </div>
          <div class="btn-group mr-2">
              <a [routerLink]="['/rooms','guest']" class="btn btn-sm btn-outline-secondary" >Guest Rooms</a>
          </div>
        </div>
      </div>

      <ul id="messages" class="chat__messages" >
        <app-chat-message [message]='message' *ngFor="let message of chatMessages"></app-chat-message>
      </ul>

      <div class="mb-4">
        <form [formGroup]="chatMessageForm" (submit)="sendMessage()" class="d-flex flex-row">
          <input  class="form-control form-control-dark w-75 mr-3"
          formControlName="message" name="message" type="text" placeholder="Message"
            autofocus autocomplete="off" />
          <button [disabled]="chatMessageForm.invalid" type="submit" class="btn btn-primary btn-sm">Send</button>
        </form>
      </div>
    </main>
  </div>
</div>
