<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <div class="form-group">
        <input #emailInput
            formControlName="email" 
            class="form-control" 
            placeholder="user name" 
            autofocus>
        <ap-vmessage 
            *ngIf="loginForm.get('email').errors?.required"
            text="User name is required!">
        </ap-vmessage>        
    </div>

    <div class="form-group">
        <input
            #chatMessageInput
            formControlName="password" 
            type="password" 
            class="form-control" 
            placeholder="password">
        <ap-vmessage
            *ngIf="loginForm.get('password').errors?.required"
            text="Password is required!">
        </ap-vmessage>               
    </div>

    <button 
        [disabled]="loginForm.invalid" 
        type="submit" 
        class="btn btn-primary btn-block">
        Login
    </button>

</form>

<p>Not a user?<a [routerLink]="['signup']">Register now</a></p>