<div class="container">

  <div class="d-flex mb-4 ">
      <h3 class="text-left">
        Guest Rooms 
      </h3>
  </div>

  <div *ngIf="!rooms.length">
      <h5>Sorry, you do not have any invitation</h5>
  </div>
  <app-room-list *ngIf="rooms.length" [rooms]="rooms"></app-room-list>
  
</div>
