<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

  <div class="container" *ngIf="(user$ | async) as user; else login">

    <a class="navbar-brand" href="#">Chat app</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".headerMenuChatApp" aria-controls="headerMenuChatApp"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse headerMenuChatApp" id="headerMenuChatApp">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/rooms']">Public Rooms <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/rooms','guest']">Guest Rooms <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/rooms','user']">My Rooms <span class="sr-only"></span></a>
        </li>

      </ul>
    </div>


    <div class="navbar-collapse collapse order-3 headerMenuChatApp">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="headerUserMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-user-circle mr-1"></i>
            {{ user.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="headerUserMenu">
            <a class="dropdown-item" [routerLink]="['/rooms','user']">My Rooms</a>
            <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #login>
    <div class="container">

      <a class="navbar-brand" href="#">Chat app</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".headerMenuChatApp"
        aria-controls="headerMenuChatApp" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse headerMenuChatApp" id="headerMenuChatApp">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
      </div>

      <div class="navbar-collapse collapse order-3 headerMenuChatApp">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a [routerLink]="['']" class="nav-link btn">Please, login!</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</nav>
