<li class="message mb-1">
  <div class="message__title">
    <h5>{{message.from}}:</h5>
    <span class="ml-2">{{message.created_at}}</span>
  </div>
  <div class="message__body">
    <span>{{message.text}}</span>
  </div>
</li>
